$tipografia-general: url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
$tipografia-alternativa:  'Roboto', sans-serif;

$color-fonts:  #faf2f2;
$color-primario:rgb(27,27,26);
$color-secudario:rgb(205, 148, 25);
$color-terciario:#000000;
$background-main:rgba(171, 125, 28, 0.656);